@{
    ViewData["Title"] = "Support";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Support & Help</h2>
            <p>Get help with your TownTrek account and business listings.</p>
            
            <!-- Support content will be implemented here -->
            <div class="alert alert-info">
                <i class="fas fa-life-ring"></i>
                Support center coming soon. Contact our team, browse FAQs, and get help with your account.
            </div>
        </div>
    </div>
</div>