@model TownTrek.Models.ViewModels.AddBusinessViewModel

<!-- Category-Specific Sections -->
<div id="categorySpecificSections">
    @await Html.PartialAsync("_MarketSection", Model)
    @await Html.PartialAsync("_TourSection", Model)
    @await Html.PartialAsync("_EventSection", Model)
    @await Html.PartialAsync("_RestaurantSection", Model)
    @await Html.PartialAsync("_AccommodationSection", Model)
</div>