@{
    ViewData["Title"] = "Settings";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Account Settings</h2>
            <p>Configure your account preferences and application settings.</p>
            
            <!-- Settings content will be implemented here -->
            <div class="alert alert-info">
                <i class="fas fa-cog"></i>
                Settings panel coming soon. Customize notifications, privacy settings, and application preferences.
            </div>
        </div>
    </div>
</div>