@using TownTrek.Services.Interfaces.ClientAnalytics
@model DashboardCustomizationResponse
@{
    var preferences = Model.Preferences;
}

<div class="dashboard-customization">
    @await Html.PartialAsync("_DashboardCustomizationHeader")
    @await Html.PartialAsync("_DashboardCustomizationControls", Model)
    @await Html.PartialAsync("_DashboardCustomizationSavedViews", Model)
    @await Html.PartialAsync("_DashboardCustomizationModal")
</div>
