@model TownTrek.Models.ViewModels.CategoryBenchmarks
@{
    ViewData["Title"] = "Category Benchmarks";
    Layout = "_ClientLayout";
}

<div class="analytics-page">
    @await Html.PartialAsync("_BenchmarksHeader", Model)
    
    <div class="benchmarks-content">
        @await Html.PartialAsync("_BenchmarksOverview", Model)
        @await Html.PartialAsync("_BenchmarksGrid", Model)
        @await Html.PartialAsync("_BenchmarksInsights", Model)
        @await Html.PartialAsync("_BenchmarksActions")
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/features/client/analytics-core.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/features/client/analytics-charts.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/features/client/analytics-realtime.css" asp-append-version="true" />
}