@model List<TownTrek.Models.ViewModels.CompetitorInsight>
@{
    ViewData["Title"] = "Competitor Analysis";
    Layout = "_ClientLayout";
}

<div class="analytics-page">
    @await Html.PartialAsync("_CompetitorsHeader")
    
    @if (Model == null || !Model.Any())
    {
        @await Html.PartialAsync("_CompetitorsEmptyState")
    }
    else
    {
        @await Html.PartialAsync("_CompetitorsGrid", Model)
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/features/client/analytics-core.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/features/client/analytics-charts.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/features/client/analytics-realtime.css" asp-append-version="true" />
}