@model TownTrek.Models.ViewModels.ClientAnalyticsViewModel
@{
    ViewData["Title"] = "Analytics Dashboard";
    Layout = "_ClientLayout";
}

<div class="analytics-dashboard">
    @await Html.PartialAsync("_AnalyticsHeader", Model)
    
    @if (ViewBag.NoBusinesses != true)
    {
        @await Html.PartialAsync("_AnalyticsMetrics", Model)
        @await Html.PartialAsync("_AnalyticsCharts", Model)
        @await Html.PartialAsync("_AnalyticsBusinessPerformance", Model)
        @await Html.PartialAsync("_AnalyticsAdvancedFeatures", Model)
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/components/modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/features/client/analytics-core.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/features/client/analytics-charts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/features/client/analytics-realtime.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/features/client/analytics-export.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/lib/chart.js/chart.bundle.min.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>
}