@{
    ViewData["Title"] = "Documentation";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Documentation</h2>
            <p>Learn how to make the most of TownTrek for your business.</p>
            
            <!-- Documentation content will be implemented here -->
            <div class="alert alert-info">
                <i class="fas fa-book"></i>
                Documentation coming soon. Step-by-step guides, tutorials, and best practices for using TownTrek.
            </div>
        </div>
    </div>
</div>